<%- include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/user.css" />
<body>
  <div class="users-container">
    <% if(!member) { %>
      <div class="users-frame" style="color: #dddddd">
        <div class="board" style="font-size: 40px">Please login first!</div>
      </div>
      <% } else { %>
    <div class="navigation">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/product/all">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="users-frame">
      <div class="board">
        <div class="user-table">
          <span class="header-name"
            >All Users</span
          >
          <table class="table table-hover table-sm">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Points</th>
                <th scope="col">Status</th>
              </tr>
            </thead>

              <%users.map((ele, index) => { %>
                <tbody style="background: white">
                  <td><%=index+1%></td>
                  <td><%=ele.memberNick%></td>
                  <td><%=ele.memberEmail%></td>
                  <td><%=ele.memberAddress%></td>
                  <td><%=ele.memberPoints%></td>
                  <td style="width: 13%">
                    <select class="spec-select member-status" id="<%=ele._id%>">
                      <option value="ACTIVE" <%= ele.memberStatus === "ACTIVE" ? "selected" : ""%> >ACTIVE</option>
                      <option value="BLOCK" <%= ele.memberStatus === "BLOCK"? "selected" : ""%>>BLOCK</option>
                      <option value="DELETE" <%= ele.memberStatus === "DELETE"? "selected" : ""%>>DELETE</option>
                    </select>
                  </td>
                </tbody>
              <%})%>

          </table>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <script src="/js/user.js"></script>
</body>
<%- include('includes/footer')%>